.homePage {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.homeTitulo{
    text-align: center;
}

.listaCogumelos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.homeParagrafos {
    color: #0c081c;
    font-size: 14px;
    border-bottom: 1px solid #c0b2b2;
    border-top: 1px solid #c0b2b2;
    text-align: justify;
    padding: 15px;
}
